@* @page "/pacientes" *@
@* @using DIGESA.Models.Entities.DBDIGESA *@
@* @using DIGESA.Repositories.Services *@
@* *@
@* <h3>Listado de Pacientes</h3> *@
@* *@
@* @if (pacientes == null) *@
@* { *@
@*     <p>Cargando...</p> *@
@* } *@
@* else *@
@* { *@
@*     <table class="table table-striped"> *@
@*         <thead> *@
@*         <tr> *@
@*             <th>Nombre</th> *@
@*             <th>Documento</th> *@
@*             <th>Fecha Nacimiento</th> *@
@*         </tr> *@
@*         </thead> *@
@*         <tbody> *@
@*         @foreach (var paciente in pacientes) *@
@*         { *@
@*             <tr> *@
@*                 <td>@paciente.PacienteNombreCompleto</td> *@
@*                 <td>@paciente.PacienteTipoDocumento - @paciente.PacienteNumeroDocumento</td> *@
@*                 <td>@paciente.PacienteFechaNacimiento.ToShortDateString()</td> *@
@*             </tr> *@
@*         } *@
@*         </tbody> *@
@*     </table> *@
@* } *@
@* *@
@* @code { *@
@*     private IEnumerable<Paciente> pacientes = new List<Paciente>(); *@
@* *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         pacientes = await PacienteService.GetAllAsync(); *@
@*     } *@
@* } *@