@page "/pacientes"
@using DIGESA.Models.Entities.DBDIGESA
@using DIGESA.Services.Interfaces
@inject IPacienteService PacienteService

<h3>Listado de Pacientes</h3>

@if (pacientes == null)
{
    <p>Cargando...</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Fecha Nacimiento</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var paciente in pacientes)
        {
            <tr>
                <td>@paciente.NombreCompleto</td>
                <td>@paciente.TipoDocumento - @paciente.NumeroDocumento</td>
                <td>@paciente.FechaNacimiento.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Paciente> pacientes = new List<Paciente>();

    protected override async Task OnInitializedAsync()
    {
        pacientes = await PacienteService.GetAllAsync();
    }
}