@page "/tablas"

<h4 class="mb-4">Listado de Pacientes</h4>

<Card>
    <CardBody>
        <Table Responsive="true" Hover="true" Striped="true">
            <TableHead>
                <TableRow>
                    <TableHeader>ID</TableHeader>
                    <TableHeader>Nombre</TableHeader>
                    <TableHeader>Documento</TableHeader>
                    <TableHeader>Diagnóstico</TableHeader>
                    <TableHeader>Acciones</TableHeader>
                </TableRow>
            </TableHead>
            <TableBody>
                <TableRow>
                    <TableCell>1</TableCell>
                    <TableCell>Juan Pérez</TableCell>
                    <TableCell>Cédula 123456789</TableCell>
                    <TableCell>Epilepsia</TableCell>
                    <TableCell>
                        <Button Color="ButtonColor.Primary" ThemeSize="ThemeSize.Small">Ver</Button>
                        <Button Color="ButtonColor.Danger" ThemeSize="ThemeSize.Small">Eliminar</Button>
                    </TableCell>
                </TableRow>
            </TableBody>
        </Table>
    </CardBody>
</Card>