@using ToastService = BlazorBootstrap.ToastService
@inherits LayoutComponentBase
@inject IHttpContextAccessor _HttpContextAccessor;
@inject ToastService ToastService

<PageTitle>DIGESA</PageTitle>

<div class="layout-container">
    <header class="layout-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="images/logo-gob.png" class="img-fluid header-logo" alt="logo gobierno" width="400" height="50">
                </div>
            </div>
        </div>
        <NavMenu />
    </header>

    <main class="layout-main">
        <div class="container-fluid py-4">
            @Body
        </div>
    </main>
</div>

<Toasts class="p-3" Placement="ToastsPlacement.TopRight" Delay="5000" AutoHide="true" />
