@using ToastService = BlazorBootstrap.ToastService
@inherits LayoutComponentBase
@inject IHttpContextAccessor _HttpContextAccessor;
@inject ToastService ToastService

<PageTitle>DIGESA</PageTitle>
<header>
    <div class="container">
        <img src="images/logo-gob.png" class="img-fluid" alt="logo gobierno" height="120" style="height: 120px">
    </div>
    <NavMenu/>
</header>
<div class="py-5">
    @Body
</div>
<Toasts class="p-3" Placement="ToastsPlacement.TopRight" Delay="5000" AutoHide="true" />
