@using BlazorBootstrap

<div class="pos-f-t">
    <!-- Botón para abrir/colapsar -->
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" @onclick="() => collapse.ToggleAsync()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- Menú colapsable -->
    <Collapse @ref="collapse" Show="false">
        <div class="bg-dark p-4">
            <h4 class="text-white">Menú</h4>
            <ul class="nav flex-column text-white">
                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white" href="/">Inicio</NavLink>
                </li>
                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white" href="/elegistro">Registrar</NavLink>
                </li>
                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white" href="/registro">Formulario</NavLink>
                </li>
                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white" href="/index">Panel de Control</NavLink>
                </li>
                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white" href="/paciente">Paciente</NavLink>
                </li>
                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white" href="/tabla">tablas</NavLink>
                </li>
            </ul>
        </div>
    </Collapse>
</div>

@code {
    private Collapse? collapse;
}