@page "/charts"
@inject IJSRuntime JSRuntime

<h4 class="mb-4">Estadísticas</h4>

<Card>
    <CardBody>
        <canvas id="myChart" width="400" height="200"></canvas>
    </CardBody>
</Card>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initChart");
        }
    }
}